{{ define "main" }}
  <article class="px-1" data-page-type="projects">
    <h1 class="dynamic-title">{{ .Title }}</h1>

    {{ with .Description }}
      <div class="content">
        <p>{{ . }}</p>
      </div>
    {{ end }}

    <div id="post-list" class="flex-grow-1 px-xl-1">
      {{ range (.RegularPages.ByParam "stars").Reverse }}
        {{ $card_body_col := "12" }}

        <article class="card-wrapper card">
          <div class="post-preview row g-0 flex-md-row-reverse">
            {{ if .Params.image }}
              {{ $src := .Params.image.path | default .Params.image }}
              {{ if not (findRE "//" $src) }}
                {{ $src = .Resources.GetMatch ( .Params.image.path | default .Params.image ) }}
                {{ $src = $src.RelPermalink }}
              {{ end }}

              {{ $alt := .Params.image.alt | default (printf "%s preview" .Title) | htmlEscape }}

              <div class="col-md-5">
                <img src="{{ $src }}" alt="{{ $alt }}" style="height: 100%; width: auto;">
              </div>

              {{ $card_body_col = "7" }}
            {{ end }}

            <div class="col-md-{{ $card_body_col }}">
              <div class="card-body d-flex flex-column">
                <h1 class="card-title my-2 mt-md-0">
                  <a href="{{ .RelPermalink }}" class="stretched-link">{{ .Title }}</a>
                </h1>

                <div class="card-text content mt-0 mb-3">
                  <p>{{ .Description | default .Summary | plainify }}</p>
                </div>

                <div class="post-meta flex-grow-1 d-flex flex-column justify-content-end">
                  <div class="d-flex flex-wrap align-items-center justify-content-between">
                    {{ partial "project-languages.html" . }}

                    {{ with .Params.github }}
                      <a
                        href="{{ . }}"
                        class="project-github-link ms-2"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="View source on GitHub"
                      >
                        <i class="fab fa-github fa-fw"></i>
                      </a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      {{ end }}
    </div>
  </article>
{{ end }}

{{ define "panel" }}
  {{ partial "project-panel-widgets.html" . }}
{{ end }}
